/.idea/
/.capistrano/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/parameters_test.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/backups/
/node_modules/
/web/bundles/
/web/storage/
/web/js/
/web/css/
/web/vendor/
/web/log
/composer.phar
.DS_Store
.*~
/bin/parallel-lint
/bin/phpcs
/bin/phpunit
bin/security-checker
web/iecss/
web/iejs/

